<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/Coding_apple/public/main.css">
</head>
<body>
  <%- include('nav.html') %>
  <ul>
    <% for(let i=0; i<posts.length; i++){ %>
      <li>
        <h4>할일 제목 : <%= posts[i].title %></h4>
        <p>할일 날자 : <%= posts[i].date %></p>
        <button class="delete" data-id="<%= posts[i]._id%>">삭제</button>
      </li>
      <% } %>
    </ul>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    $('.delete').click(function(e){
      var 글번호 = e.target.dataset.id;
      var 지금누른거 = $(this);// 지금 이벤트 동작하는 것
      $.ajax({
        method : 'DELETE',
        url :'/delete', // 요청할경로
        data :{_id : 글번호 } // 요청과 함께 보낼 데이터
        }).done(function(결과){ // 요청이 성공했을때
          // 페이지 강제 새로고침 또는 삭제버튼 누른 li 요소 제거(ajax는 새로고침 없이 작동해서 눈속임용)
          console.log('성공했어욤'); // <- console.log에 나옴
          지금누른거.parent('li').fadeOut(); // 지금누른버튼 부모요소 li찾아서 사라지게
          
      }).fail(function(xhr,textStatus,error){ // 요청이 실패했을떄
        console.log(xhr,textStatus,error);
        
      });
    })
  </script>
</body>
</html>
<!-- html 다른점 : 서버데이터 집어넣을 수 있음 -->
<!-- ajax
새로고침없이 서버랑 통신할 수 있게 서버요청 도와줌
-->